* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}
body{
    background: #FAF5E5;
}
.container{
    width: 1080px;
    margin: 0 auto;
}
.header-container {
    height: 100%;
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #fff4d5;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #c2bca6;
  }
  .hamburger-menu{
    display: none;
  }

.font-style-classic{
    font-family: 'Roboto1';
    font-style: normal;
    font-weight: 400;
    color: #000000;
}
header{
    height: 60px;
    background: #FAF5E5;
    border-radius: 0px;
}
.menu-panel{
    margin-left: auto;
    display: flex;
    flex-direction: row;
}
.logo-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 11px;
    letter-spacing: 0.99px;
    text-transform: uppercase;
    color: #000000;

    animation: text1 3s 1;
}
@keyframes text1 {
    0%{
        margin-left: 12%;
     
    }
    40%{
        margin-left: 8%;
     
    }
    80%{
        margin-left: 4%;
      
    }
    100%{
        margin-left: 2%;
    }
  }

.menu-item{
    margin-right: 18px;
    font-weight: 400;
    letter-spacing: 0.99px;
}
.menu-font-style{
    font-family: 'Roboto';
    font-style: normal;   
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
    color: rgba(23, 23, 23, 0.9);
}
.block-row{
    height: 100%;
    display: flex;
    flex-direction: row;
}
.first-block{
    justify-content: space-between;
}
.first-block-text{
    margin-top: 200px;

    animation: text2 3s 1;
}
@keyframes text2{
    0%{
        letter-spacing: 12px;
     
    }
    40%{
        letter-spacing: 8px;
     
    }
    80%{
        letter-spacing: 4px;
      
    }
    100%{
        letter-spacing: 2px;
    }
  }

.first-block-font-style1{
    font-size: 51px;
    line-height: 59px;
    text-align: center;
}
.first-block-font-style2{
    margin-top: 27px;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 2.08px;
    text-transform: uppercase;
    
    animation: text 3s 1;
}
.first-block-img1{  
    margin-left: 59px;
    width: 680px;
    height: 902px;
    border-radius: 0px;  
}
.first-block-img2{
    display: flex;
    justify-content: center;
    margin-top: 86px;
}
.first-block-img2-size{
    width: 190px;
    height: 190px;
    border-radius: 0px; 
}  
.first-block-img3{
    display: flex;
    justify-content: center;
    width: 440px;
    height: 1px;
    margin-top: 103px;
    background: #050505;
    border-radius: 0px;
}

.second-block{
    justify-content: left;
    align-items: center;
}
.second-block-element{
    margin-top: 140px;
}
.second-block-font-style1{
    margin-top: 41px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.32px;
}
.second-block-font-style2{
    margin-top: 105px;
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 0.78px;
}
.second-block-font-style3{
    margin-top: 82px;
    font-size: 13px;
    line-height: 13px;

    text-align: center;
    letter-spacing: 2.08px;
    text-transform: uppercase;
}
.second-block-img1{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    border-radius: 0px;
}
.second-block-img1-size{
    height: 140px ;
    width: 283px;
}
.second-block-img2{
    margin: auto;
    margin-top: 5px;
    width: 147.28px;
    height: 1px;
    background: rgba(0, 0, 0, 0.3);
}
.second-block-img3{
    display: flex;
    justify-content: center;
    margin-top: 12px;
    border-radius: 0px;
}
.second-block-img3-size{
    width: 282px;
    height: 376px;
}

.third-block{
    margin-top: 66px;
    justify-content: space-between;
    margin-bottom: 32px;
}
.third-block-element1{
    margin-top: 160px;
}
.third-block-img2{
    margin-top: 5px;
    width: 123.05px;
    height: 1px;
    border-radius: 0px;
    background: rgba(0, 0, 0, 0.3);
}
.third-block-img3{
    margin-top: 199px;
    border-radius: 0px;
}
.third-block-font-style1{
    margin-top: 48px;
    font-size: 59px;
    line-height: 63px;
    text-align: center;
    letter-spacing: 1.8px;
    color: #171717;
}
.third-block-font-style2{
    margin-top: 48px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.32px;
}
.third-block-font-style3{
    margin-top: 82px;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 2.08px;
    text-transform: uppercase;
}
.third-block-element2{
   margin-left: 253px;
}
.third-block-img4{
    margin-top: 137px;
}
.third-fourth-block-img4{
    /* width: 404px;
    height: 539px; */
    border-radius: 0px;
}
.third-block-font-style4{
    margin-top: 197px;
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 0.78px;
}
.third-block-img5{
    margin-top: 5px;
    width: 69.64px;
    height: 1px;
    background: rgba(0, 0, 0, 0.3)
}
.section-color{
background: rgb(156, 66, 31);
}
.fourth-block-element1{
 margin-top: 130px;
 margin-bottom: 131px;
}
.fourth-block-element2{
    margin-top: 54px;
    margin-left: 228px;
}
.fourth-font-style1{
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 2.08px;
    text-transform: uppercase;
}
.fourt-font-style2{
    margin-top: 43px;
    font-size: 60px;
    line-height: 63px;
    text-align: center;
    letter-spacing: 1.8px;
}
.fourth-font-style3{
    margin-top: 43px;
    font-size: 16px;
    line-height: 22px;    
    text-align: center;
    letter-spacing: 0.32px;
}
.fourth-font-style4{
    margin-top: 28px;
}
.fifth-block{
    margin-top: 66px;
    margin-bottom: 66px;
}
.fifth-block-element2{
margin-left: 125px;
}
.fifth-font-style1{
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 2.08px;
    text-transform: uppercase;
}
.fifth-font-style2{
    margin-top: 38px;
    font-size: 60px;
    line-height: 63px;
    letter-spacing: 1.8px;
    color: #171717;
}
.fifth-font-style3{
    margin-top: 51px;
    font-size: 16px;
    line-height: 22px;    
    letter-spacing: 0.32px;
}
.sixth-block{
    min-height: 100%;
    min-width: 280px;
    height: auto;
    width: 100%;
}
.seventh-block{
    margin-top: 92px;
    display: flex;
    justify-content: center;
}
.seventh-font-style1{
    font-size: 12px;
    line-height: 13px;    
    text-align: center;
    letter-spacing: 2.08px;
    text-transform: uppercase;
}
.seventh-font-style2{
    margin-top: 74px;
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 0.78px;
}
.seventh-block-img1{
    width: auto;
    height: 1px;
    background: #050505;
    border-radius: 0px;
}
input{
    margin-right: 11px;
    height: 38px;
    width: 244px;
    background: #FAF5E5;
    border: #000000 solid 1px;
}
.seventh-block-element2{
    margin-top: 65px;
    margin-bottom: 65px;
}
button{
    width: 99px;
    height: 22px;
    background: #222222;
    cursor: pointer;
}
.button-color{
    color: white;
}
.eight-block{
    margin-top: 25px;
    margin-bottom: 81px;
}
.eight-block-element1{
    margin-top: 83px;
}
.eight-block-img1{
    border-radius: 0px;
}
.eight-block-element2{
    margin-top: 145px;
    margin-left: 126px;
}
.eight-font-style1{
    margin-left: 17px;
    font-size: 12px;
    line-height: 13px;    
    letter-spacing: 2.08px;
    text-transform: uppercase;
}
.eight-font-style2{
    margin-top: 38px;
    font-size: 58px;
    line-height: 63px;    
    letter-spacing: 1.8px;
    margin-bottom: 48px;
}
.eight-font-style3{
    font-size: 16px;
    line-height: 22px;    
    letter-spacing: 0.32px;
}
.eight-font-style4{
    margin-top: 3px;
}
.eight-font-style5{
    margin-top: 14px;
}
.eight-line{
    margin-top: 37px;
    margin-left: 17px;
    width: 404px;
    height: 1px;
    background: #050505;
    border-radius: 0px;
}
.eight-adc1{
    margin-left: 17px;
}
.eight-adc2{
    margin-left: 32px;
}
.eight-adc-block{
    margin-top: 42px;
    display: flex;
    flex-direction: row;
}
.nineth-block{
    display: flex;
    justify-content: center;
}
.nineth-block-element1{
    margin-top: 23px;
    margin-bottom: 61px;
}

.nineth-font-style1{
    text-align: center;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 2.08px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.nineth-img1{
    display: flex;
    justify-content: center;
    margin-bottom: 73px;
}
.nineth-img1-size{
    width: 150px;
    height: 150px;
}
.nineth-img2-size{
    width: 175px;
    height: 175px;
}
.nineth-img2{
    display: flex;
    justify-content: center;
    margin-top: 9px;
    margin-bottom: 23px;
}
.nineth-mesengers{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.mesenger{
 margin-right: 21px;
}

.nineth-font-style3{
    text-align: center;
}
footer{
    height: 241px;
    display: flex;
    justify-content: center;
    background: #FFD36B;
}
.footer-container{
    justify-content: center;
    height: 100%;
    width: 1200px;
}
.footer-img1{
    margin-top: 41px;
    margin-right: 100px;
    width: 180px;
    height: 180px;
    background-image: url(/src/logo2.svg);
}
.footer-info-text{
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 2.08px;
    text-transform: uppercase;
}
.footer-info-text-style{
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.32px;
}
.text-decorating-line{
    text-decoration: underline rgba(0, 0, 0, 0.3) 1px;
}
.footer-info-block{
    margin-top: 18px;
}
.footer-info-text-style1{
    margin-top: 18px;
}
.footer-info-text-style2{
    margin-top: 6px;
}
.row-b{
    display: flex;
    flex-direction: row;
    /* переревірити  */
}
.footer-block1{
    margin-top: 29px;
    margin-left: 43px;
}
.footer-block2{
    margin-top: 39px;
    margin-left: 109px;
}
.footer-block3{
    margin-top: 39px;
    margin-left: 39px;
}
.footer-font-style3{
    margin-top: 15px;
}
.creators-info-block{
    border-top: #000000 solid 1px;
    margin-top: 73px;
    width: 100%;
}
.creators-info-text-style{
    margin: auto;
    margin-top: 10px;
    font-size: 9px;
    line-height: 9px;
    text-align: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}
.footer-line{
    border-left: #000000 solid 1px;
}

/* адапривність */

@media (max-width: 1305px){
    .header-container {
        width: 1080px;
    }
    
    .first-block-img1{
       display: none;
    }
    .first-block{
        justify-content: center;
    }


    .second-block{
        justify-content: center;
    }
    

    .third-block{
        display: flex;
        flex-direction: column;
        
    }
    
    .third-block-position1{
        display: flex;
        justify-content: center;
    }
        
    .third-block-position2{
        display: flex;
        justify-content: center;
     }
   
     .third-block-element2{
        margin-left: 0;
     }
     .third-block-img4{
        display: none;
     }

    .fourth-block{
        flex-direction: column;
       align-items: center;
     }
     .fourth-block-element2{
        margin-top: 0;
        margin-left: 0;
    }
    .fourth-font-style4{
        margin-bottom: 130px;
    }

    .fifth-block{
        flex-direction: column;
        align-items: center;
    }
    .fifth-block-element2{
        margin-left: 0;
        margin-top: 35px;
    }

    .seventh-block{
        flex-direction: column;
        align-items: center;
    }
    .seventh-blocl-element{
        align-items: center;
    }
    .seventh-block-element2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    input{
        margin-right: 0;
        margin-top: 13px;
    }
    button{
        margin-top: 10px;
    }

    .eight-block{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .eight-block-element2{
        margin-top: 145px;
        margin-left: 0px;
    }

    .footer-container{
        justify-content: center;
        width: 1080px;
    }
}

@media(max-width:1080px){
    .container{
        width: 1020px;
    }

    .header-container {
        width: 1020px;
    }

    .footer-img1{
        display: none;
    }
    footer{
        height: 241px;
    }
    .footer-container{
        justify-content: center;
        width: 1020px;
    }
    .footer-line{
        border: 0;
    }
}

@media(max-width:1020px){
    .container{
        width: 768px;
    }
    .header-container {
        width: 768px;
    }
    .footer-container{
        width: 768px;
    }
}

@media(max-width:780px){
    .container{
        width: 480px;
    }

    .menu-panel{
        display: none;
        margin-left: 0;
    }
    .hamburger-menu{
        display: block;
    }
    .header_logo{
        display: flex;
        justify-content: right;
    }
    .header-container{
        width: 480px;
        display: flex;
        justify-content: center;
    }

    .logo-text{
        font-weight: 500;
        font-size: 23px;
        line-height: 8px;
    }

    .first-block-font-style1{
        font-size: 36px;
        line-height: 41px;        
    }
    .first-block-font-style2{
        margin-top: 19px;
        font-size: 9.24px;
        line-height: 9.24px;
    }
    .first-block-img2{
        margin-top: 61px;
    } 
    .first-block-img2-size{
        width: 135px;
        height: 135px; 
    } 
    .first-block-img3{
        width: 312px;
        margin-top: 73px;
    }

/* кінець першого блоку */

    .second-block-element{
        margin-top: 100px;
    }
    .second-block-font-style1{
        margin-top: 29px;
        font-size: 11px;
        line-height: 15px;
    }
    .second-block-font-style2{
        margin-top: 75px;
        font-size: 18px;
        line-height: 24px;
    }
    .second-block-font-style3{  
        margin-top: 58px;
        font-size: 9px;
        line-height: 9px;
    }
    .second-block-img1{
        margin-top: 57px;        
    }
    .second-block-img1-size{
        height: 100px ;
        width: 201px;
    }
    .second-block-img2{
        margin-top: 4px;
        width: 115px;       
    }
    .second-block-img3{
        margin-top: 8px;
    }
    .second-block-img3-size{
        width: 200px;
        height: 267px;
    }

/* кінець 2 блоку */

    .third-block-element1{
        margin-top: 114px;
    }
    .third-block-font-style1{
        margin-top: 34px;
        font-size: 42px;
        line-height: 44px;       
    }
    .third-block-font-style2{
        margin-top: 34px;
        font-size: 11px;
        line-height: 16px;
    }
    .third-block-font-style3{
        margin-top: 58px;
        font-size: 9px;
        line-height: 9px;
    }
    .third-block-font-style4{
        margin-top: 141px;
        font-size: 19px;
        line-height: 24px;
    }
    .third-block-img2{
        margin-top: 4px;
        width: 90px;
    }
    .third-block-img3{
        margin-top: 141px;
        display: flex;
        justify-content: center;
    }
    .third-block-img3-size{
        width: 287px;
        height: 383px;
    }

    .third-block-img5{
        margin-top: 5px;
        width: 48px;
    }

/* кінець 3 блоку */

    .fourth-block-element1{
        margin-top: 92px;
        margin-bottom: 93px;
    }
    .fourth-block-img4-size{
        height: 386px ;
        width: 287px;
    }
    .fourth-font-style1{
        font-size: 9px;
        line-height: 9px;
    }
    .fourt-font-style2{
        margin-top: 31px;
        font-size: 43px;
        line-height: 45px;
    }
    .fourth-font-style3{
        margin-top: 31px;
        font-size: 11px;
        line-height: 16px;    
    }
    .fourth-font-style4{
        margin-top: 20px;
        margin-bottom: 92px;
    }
  
/* кінець 4 блоку */

    .fifth-img1-size{
        height: 258px ;
        width: 366px;
    }
    .fifth-font-style1{
        font-size: 9px;
        line-height: 10px;
    }
    .fifth-font-style2{
        margin-top: 27px;
        font-size: 43px;
        line-height: 45px;
    }
    .fifth-font-style3{
        margin-top: 36px;
        font-size: 11px;
        line-height: 16px;    
    }

/* кінець 5 блоку */

    .seventh-block-element2{
        margin-top: 46px;
        margin-bottom: 46px;
    }
    .seventh-block{
        margin-top: 65px;
    }
    .seventh-font-style1{
        font-size: 9px;
        line-height: 10px;    
    }
    .seventh-font-style2{
        margin-top: 57px;
        font-size: 18px;
        line-height: 24px;
    }

/* кінець 7 блоку */

    .eight-block{
        margin-top: 18px;
        margin-bottom: 58px;
    }
    .eight-block-element1{
        margin-top: 89px;
    }
    .eight-block-img1-size{
        width: 366px;
        height: 487px;
    }
    .eight-block-element2{
        margin-top: 103px;
    }
    .eight-font-style1{
        margin-left: 12px;
        font-size: 9px;
        line-height: 10px;    
    }
    .eight-font-style2{
        margin-top: 27px;
        font-size: 41px;
        line-height: 45px;    
        margin-bottom: 34px;
    }
    .eight-font-style3{
        font-size: 11px;
        line-height: 16px;    
    }
    .eight-font-style4{
        margin-top: 2px;
    }
    .eight-font-style5{
        margin-top: 140px;
    }
    .eight-line{
        margin-top: 26px;
        width: 288px;
    }
    .eight-adc1{
        margin-left: 12px;
    }
    .eight-adc1-size{
        width: 133px;
        height: 72px;
    }
    .eight-adc2{
        margin-left: 23px;
    }
    .eight-adc2-size{
        width: 132px;
        height: 60px;
    }
    .eight-adc-block{
        margin-top: 30px;
    }

/* кінець 8 блоку */

    .nineth-block-element1{
        margin-top: 16px;
        margin-bottom: 43px;
    }

    .nineth-font-style1{
        font-size: 9px;
        line-height: 9px;
        margin-bottom: 11px;
    }
    .nineth-img1{
        margin-bottom: 52px;
    }
    .nineth-img1-size{
        width: 107px;
        height: 107px;
    }
    .nineth-img2-size{
        width: 124px;
        height: 124px;
    }
    .nineth-img2{
        margin-top: 6px;
        margin-bottom: 16px;
    }
    .mesenger{
    margin-right: 15px;
    }

/* кінець 9 блоку */

    .footer-block1{
        display: none;
    }
    .footer-block2{
        display: none;
    }
    .footer-block3{
        display: none;
    }
    footer{
        align-items: center;
        height: 18px;
    }
    .footer-line{
        width: 98%;
    }
    .creators-info-block{
        border-top: 0;
        margin-top: 0px;
    }
    .creators-info-text-style{
        margin-top: 6px;
        margin-right: 2px;
        font-size: 6px;
        line-height: 6px;
    }
}


@media(max-width:480px){
    .container{
        width: 320px;
    }
    
    .header-container{
        width: 300px;     
    }
   

    .first-block-font-style1{
        font-size: 22px;
        line-height: 26px;        
    }
    .first-block-font-style2{
        margin-top: 8.4px;
        font-size: 5.7px;
        line-height: 5.7px;
    }
    .first-block-img2{
        margin-top: 38px;
    } 
    .first-block-img2-size{
        width: 84px;
        height: 84px; 
    }
    .first-block-img3{
        width: 195px;
        margin-top: 46px;
    }

    /* кінець першого блоку */

    .second-block-element{
        margin-top: 62px;
    }
    .second-block-font-style1{
        margin-top: 18px;
        font-size: 7px;
        line-height: 9px;
    }
    .second-block-font-style2{
        margin-top: 47px;
        font-size: 11px;
        line-height: 15px;
    }
    .second-block-font-style3{
        margin-top: 36px;
        font-size: 6px;
        line-height: 6px;
    }
    .second-block-img1{
        margin-top: 36px;        
    }
    .second-block-img1-size{
        height: 62px ;
        width: 126px;
    }
    .second-block-img2{
        margin-top: 3px;
        width: 71px;       
    }
    .second-block-img3{
        margin-top: 5px;
    }
    .second-block-img3-size{
        width: 125px;
        height: 167px;
    }

/* кінець 2 блоку */
    
    .third-block-element1{
    margin-top: 71px;
    }
    .third-block-font-style1{
        margin-top: 21px;
        font-size: 26px;
        line-height: 28px;       
    }
    .third-block-font-style2{
        margin-top: 21px;
        font-size: 7px;
        line-height: 10px;
    }
    .third-block-font-style3{
        margin-top: 36px;
        font-size: 6px;
        line-height: 6px;
    }
    .third-block-font-style4{
        margin-top: 80px;
        font-size: 12px;
        line-height: 25px;
    }
    .third-block-img2{
        margin-top: 3px;
        width: 74px;
    }
    .third-block-img3{
        margin-top: 88px; 
    }
    .third-block-img3-size{
        width: 180px;
        height: 239px;
    }
  
    .third-block-img5{
        margin-top: 3px;
        width: 38px;
    }

/* кінець 3 блоку */
    
    .fourth-block-element1{
        margin-top: 58px;
        margin-bottom: 59px;
    }
    .fourth-block-img4-size{
        height: 241px ;
        width: 179px;
    }
    .fourth-font-style1{
        font-size: 6px;
        line-height: 6px;
    }
    .fourt-font-style2{
        margin-top: 19px;
        font-size: 27px;
        line-height: 28px;
    }
    .fourth-font-style3{
        margin-top: 19px;
        font-size: 7px;
        line-height: 10px;    
    }
    .fourth-font-style4{
        margin-top: 13px;
        margin-bottom: 58px;
    }

/* кінець 4 блоку */

    .fifth-img1-size{
        height: 161px ;
        width: 229px;
    }
    .fifth-font-style1{
        font-size: 6px;
        line-height: 7px;
    }
    .fifth-font-style2{
        margin-top: 17px;
        font-size: 27px;
        line-height: 28px;
    }
    .fifth-font-style3{
        margin-top: 23px;
        font-size: 7px;
        line-height: 10px;    
    }

/* кінець 5 блоку */

    .seventh-block-element2{
        margin-top: 29px;
        margin-bottom: 29px;
    }
    .seventh-block{
        margin-top: 41px;
    }
    .seventh-font-style1{
        font-size: 6px;
        line-height: 7px;    
    }
    .seventh-font-style2{
        margin-top: 37px;
        font-size: 11px;
        line-height: 15px;
    }

/* кінець 7 блоку */

    .eight-block{
        margin-top: 11px;
        margin-bottom: 36px;
    }
    .eight-block-element1{
        margin-top: 56px;
    }
    .eight-block-img1-size{
        width: 228px;
        height: 304px;
    }
    .eight-block-element2{
        margin-top: 64px;
    }
    .eight-font-style1{
        margin-left: 8px;
        font-size: 6px;
        line-height: 7px;    
    }
    .eight-font-style2{
        margin-top: 17px;
        font-size: 26px;
        line-height: 28px;    
        margin-bottom: 21px;
    }
    .eight-font-style3{
        font-size: 7px;
        line-height: 10px;    
    }
    .eight-font-style5{
        margin-top: 88px;
    }
    .eight-line{
        margin-top: 17px;
        width: 180px;
    }
    .eight-adc1{
        margin-left: 8px;
    }
    .eight-adc1-size{
        width: 83px;
        height: 45px;
    }
    .eight-adc2{
        margin-left: 14px;
    }
    .eight-adc2-size{
        width: 63px;
        height: 38px;
    }
    .eight-adc-block{
        margin-top: 20px;
    }

/* кінець 8 блоку */

    .nineth-block-element1{
        margin-top: 10px;
        margin-bottom: 27px;
    }
    .nineth-font-style1{
        font-size: 6px;
        line-height: 6px;
        margin-bottom: 7px;
    }
    .nineth-img1{
        margin-bottom: 33px;
    }
    .nineth-img1-size{
        width: 67px;
        height: 67px;
    }
    .nineth-img2-size{
        width: 78px;
        height: 78px;
    }
    .nineth-img2{
        margin-top: 4px;
        margin-bottom: 10px;
    }
    .mesenger{
    margin-right: 9px;
    }


    /* кінець 9 блоку */

    footer{
        height: 14px;
    }
  
    .creators-info-text-style{
        margin-top: 4px;
        font-size: 4px;
        line-height: 4px;
    }
}
